@font-face {
    font-family: PT Sans;
    src: url('./assets/fonts/PtSans/PTSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Jaffna;
    src: url('./assets/fonts/postnobillsjaffna/PostNoBillsJaffna-Medium.ttf') format('truetype')
}

@font-face {
    font-family: Playfair Display;
    src: url('./assets/fonts/PlayfairDisplay;/static/PlayfairDisplay-MediumItalic.ttf') format('truetype');

}

body {
    margin: 0px;
}

.header {
    cursor: pointer;
    height: 44px;
    width: 100%;
    background: #000000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.phoneImg {
    width: 10px;
    height: 10px;
}

.phoneNumber {
    font-family: PT Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #969696;
}

.logo2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 500px;
}

.exit {
    font-family: PT Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: #969696;
}

.phoneImg1 {
    width: 10px;
    height: 7px;
}

.phoneImg2 {
    width: 10px;
    height: 10px;
}

.main {
    display: flex;
    flex-direction: column;
}

.header2 {
    display: flex;
    flex-direction: row;
    background: #0F0F0F;
    height: 80px
}

.porten1 {
    font-family: Jaffna;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
}

.portenLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.portenRight button {
    font-family: Jaffna;
    font-style: normal;
    padding: 10px;
    background: #0F0F0F;
    border: none;
    color: rgba(150, 150, 150, 1)
}

.buttonHeader2:hover {
    background-color: #a0a8ac;
    cursor: pointer;
}

.portenRight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 10px;
}

.portenRight img {
    padding: 10px;
}

.bigImg {

    background: url('./assets/img/Rectangle\ 5.png');
    overflow: hidden;
    background-repeat: no-repeat;
    height: 810px;
    width: 100%;

    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.whiteBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    border: 4px solid #FFFFFF;
    width: 320px;
    height: 320px;

}

.whiteBox p {
    color: #FFFFFF;
}

.p1 {
    width: 185px;
    height: 86px;
    font-family: Jaffna;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 76px;
    text-align: center;
}

.p2 {
    width: 180px;
    height: 44px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.p3 {
    border: 1px solid #FFFFFF;
    width: 50px;
}

.p4 {
    width: 650px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.twoBlock {
    display: flex;
    flex-direction: row;

}

.mainClock {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    width: 55%;
    height: 730px;

}

.newColection {
    background: url(./assets/img/Rectangle\ 8.png);
    width: 45%;
    height: 730px;
    overflow: hidden;
    background-size: cover;
}



.head {
    margin-top: 50px;
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.border {
    border: 1px solid #FFFFFF;
    margin: 30px 0px;
    width: 80px;
}

.clock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;

}

.clock1 {
    width: 260px;
    height: 325px;
    margin: 15px;
    background-color: #191B1C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clockIn1 {
    width: 215px;
    height: 214px;
    background: url(./assets/img/62050\ 1.png);
    overflow: hidden;
    background-size: cover;
}


.nameOfColection {
    display: flex;
    flex-direction: column;
    font-family: Playfair Display;
    font-size: 18px;
    line-height: 21px;

}

.mainCLOCK {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nameColection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.newColection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.newCol {
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
}

.borderNewCol {
    border: 1px solid #FFFFFF;
    width: 100px;
    margin: 30px;

}

.catalog {
    background: #11ffee00;
    padding: 5px 15px;
    border: 1px solid #FFFFFF;
    font-family: PT Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.twoBlock2 {
    display: flex;
    flex-direction: row;
    height: 550px;
}

.imgBack {
    background: url(./assets/img/Rectangle\ 9.png);
    height: 100%;
    width: 45%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.text {
    width: 55%;
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.colection {

    font-family: Playfair Display;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
}

.borderCol {
    border: 1px solid #FFFFFF;
    margin: 20px;
    width: 120px;
}

.bigTExt {
    width: 471px;
    height: 173px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
}

.button {
    background-color: #000000;
    padding: 5px 20px;
    border: 1px solid #FFFFFF;
    margin-top: 20px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.manyClock {
    background-color: #000000;
    height: 870px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new {

    font-family: Playfair Display;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
}

.borderNew {
    border: 1px solid #FFFFFF;
    margin: 20px;
    width: 300px;
}

.manyClocks1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.clocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 300px;
    width: 200px;

}

.backgroundClock {

    height: 325px;

    background: #191B1C;
    border: 3px solid #0F0F0F
}

.imgClock {
    background: url(./assets/img/62050\ 1.png);
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 215px;
    height: 214px;


}

.mainP {
    font-family: Playfair Display;
    text-align: left;
    font-family: Playfair Display;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin: 10px;
}

.smallP {
    font-family: Playfair Display;
    text-align: left;
    font-family: Playfair Display;
    font-size: 16px;
    line-height: 19px;
    color: #D0D0D0;


}

.brand {
    height: 362px;
    background: #0F0F0F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ourBrand {
    font-family: Playfair Display;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.borderBrand {
    border: 1px solid #FFFFFF;
    width: 80px;
    margin: 20px;
}



.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.logotyp {
    width: 255px;
    height: 94px;
    background: url(./assets/img/Rectangle\ 13.png);
    margin: 10px;
}


.menBackground {
    background: url(./assets/img/Rectangle\ 16.png);
    height: 320px;
    overflow: hidden;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.magazineAboot {
    height: 250px;
    width: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.magazine {
    width: 151px;
    height: 32px;
    font-family: Playfair Display;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.textMagazine {
    width: 350px;
    height: 147px;
    text-align: left;
    margin-top: 20px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}

.categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;

}

.categoriya {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Playfair Display;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.categoriya1 {
    display: flex;
    flex-direction: column;

}

.mainCat {
    display: flex;
    flex-direction: row;
}

.buttonCategoriya {
    border: #000000;
    background-color: #000000;
    margin: 10px;

    padding: 10px 20px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #D0D0D0;
}

.mailings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    width: 350px;

}

.mailing {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    text-align: left;
    font-family: Playfair Display;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.textMailing {

    font-family: PT Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}

.buttonMailing {

    display: flex;
    flex-direction: row;
}

.buttonMailing1 {
    background: rgba(75, 74, 74, 0.4);
    border: rgba(255, 255, 255, 0.4);
    color: #FFFFFF;
    text-align: left;
    padding: 10px;
    height: 42px;
    width: 200px;
}

.buttonMailing2 {
    border: #0F0F0F;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #0F0F0F;
    font-family: PT Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}

.fotter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #000000;
    color: #FFFFFF;
}

.fotterLeft {
    width: 50%;
}